body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    overflow: hidden;
}

#root {
    height: 100vh;
    overflow: hidden;
    max-width: 800px;
    margin: 25px auto;
}
